In [5]:
import pandas as pd
import numpy as np

df_reads = pd.read_csv("./logs/log.csv", encoding = "utf-8")
display(df_reads)
display(df_reads.info())

    day        date                    title           author  minutes
0     1  17-01-2026  O Conde de Monte Cristo  Alexandre Dumas       88
1     2  18-01-2026  O Conde de Monte Cristo  Alexandre Dumas       23
2     3  19-01-2026  O Conde de Monte Cristo  Alexandre Dumas      105
3     4  20-01-2026  O conde de monte cristo  Alexandre Dumas       60
4     5  21-01-2026  O conde de monte cristo  Alexandre Dumas       99
5     6  22-01-2026  O conde de monte cristo  Alexandre Dumas      137
6     7  23-01-2026  O conde de monte cristo  Alexandre Dumas       75
7     8  24-01-2026  o conde de monte cristo  alexandre dumas       82
8     9  25-01-2026  O conde de monte cristo  alexandre dumas      100
9    10  26-01-2026  o conde de monte cristo  alexandre dumas       92
10   11  27-01-2026  o conde de monte cristo  alexandre dumas      122
11   12  28-01-2026  o conde de monte cristo  alexandre dumas      101
12   13  29-01-2026               Le Banquet           Platão       21
13   13  29-01-2026  o conde de monte cristo  alexandre dumas       19
14   14  30-01-2026               le banquet           Platão       17
15   14  30-01-2026  o conde de monte cristo  alexandre dumas       89
16   15  31-01-2026  o conde de monte cristo  alexandre dumas      161

<class 'pandas.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   day      17 non-null     int64
 1   date     17 non-null     str
 2   title    17 non-null     str
 3   author   17 non-null     str
 4   minutes  17 non-null     int64
dtypes: int64(2), str(3)
memory usage: 812.0 bytes

None

In [6]:
df_analise = df_reads
df_analise["date"] = pd.to_datetime(df_analise["date"])
df_analise["title"] = df_analise["title"].str.strip()
df_analise["title"] = df_analise["title"].str.title()
df_analise["author"] = df_analise["author"].str.strip()
df_analise["author"] = df_analise["author"].str.title()

display(df_analise)
display(df_analise.info())

/tmp/ipykernel_723/3481644780.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_analise["date"] = pd.to_datetime(df_analise["date"])

    day       date                    title           author  minutes
0     1 2026-01-17  O Conde De Monte Cristo  Alexandre Dumas       88
1     2 2026-01-18  O Conde De Monte Cristo  Alexandre Dumas       23
2     3 2026-01-19  O Conde De Monte Cristo  Alexandre Dumas      105
3     4 2026-01-20  O Conde De Monte Cristo  Alexandre Dumas       60
4     5 2026-01-21  O Conde De Monte Cristo  Alexandre Dumas       99
5     6 2026-01-22  O Conde De Monte Cristo  Alexandre Dumas      137
6     7 2026-01-23  O Conde De Monte Cristo  Alexandre Dumas       75
7     8 2026-01-24  O Conde De Monte Cristo  Alexandre Dumas       82
8     9 2026-01-25  O Conde De Monte Cristo  Alexandre Dumas      100
9    10 2026-01-26  O Conde De Monte Cristo  Alexandre Dumas       92
10   11 2026-01-27  O Conde De Monte Cristo  Alexandre Dumas      122
11   12 2026-01-28  O Conde De Monte Cristo  Alexandre Dumas      101
12   13 2026-01-29               Le Banquet           Platão       21
13   13 2026-01-29  O Conde De Monte Cristo  Alexandre Dumas       19
14   14 2026-01-30               Le Banquet           Platão       17
15   14 2026-01-30  O Conde De Monte Cristo  Alexandre Dumas       89
16   15 2026-01-31  O Conde De Monte Cristo  Alexandre Dumas      161

<class 'pandas.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   day      17 non-null     int64
 1   date     17 non-null     datetime64[us]
 2   title    17 non-null     str
 3   author   17 non-null     str
 4   minutes  17 non-null     int64
dtypes: datetime64[us](1), int64(2), str(2)
memory usage: 812.0 bytes

None

In [7]:
df_analise["total minutes"] = df_analise["minutes"].cumsum()
df_analise["minutes per day"] = (df_analise["minutes"].cumsum() / df_analise["day"]).round(2)
df_analise["hours"] = (df_analise["minutes"] / 60).round(2)
df_analise["total hours"] = df_analise["hours"].cumsum()
df_analise["hours per day"] = (df_analise["hours"].cumsum() / df_analise["day"]).round(2)

df_most_read_books = df_analise.groupby("title")[["minutes", "hours"]].sum().sort_values("minutes", ascending=False)
df_most_read_books["days qtd"] = df_analise.groupby("title")["day"].count()

df_most_read_authors = df_analise.groupby("author")[["minutes", "hours"]].sum().sort_values("minutes", ascending=False)
df_most_read_authors["days qtd"] = df_analise.groupby("author")["day"].count()



display(df_analise)
display(df_analise.describe().round(2))
display(df_most_read_books)
display(df_most_read_authors)

,day,date,title,author,minutes,total minutes,minutes per day,hours,total hours,hours per day
0,1,2026-01-17,O Conde De Monte Cristo,Alexandre Dumas,88,88,88.00,1.47,1.47,1.47
1,2,2026-01-18,O Conde De Monte Cristo,Alexandre Dumas,23,111,55.50,0.38,1.85,0.92
2,3,2026-01-19,O Conde De Monte Cristo,Alexandre Dumas,105,216,72.00,1.75,3.60,1.20
3,4,2026-01-20,O Conde De Monte Cristo,Alexandre Dumas,60,276,69.00,1.00,4.60,1.15
4,5,2026-01-21,O Conde De Monte Cristo,Alexandre Dumas,99,375,75.00,1.65,6.25,1.25
5,6,2026-01-22,O Conde De Monte Cristo,Alexandre Dumas,137,512,85.33,2.28,8.53,1.42
6,7,2026-01-23,O Conde De Monte Cristo,Alexandre Dumas,75,587,83.86,1.25,9.78,1.40
7,8,2026-01-24,O Conde De Monte Cristo,Alexandre Dumas,82,669,83.62,1.37,11.15,1.39
8,9,2026-01-25,O Conde De Monte Cristo,Alexandre Dumas,100,769,85.44,1.67,12.82,1.42
9,10,2026-01-26,O Conde De Monte Cristo,Alexandre Dumas,92,861,86.10,1.53,14.35,1.43
10,11,2026-01-27,O Conde De Monte Cristo,Alexandre Dumas,122,983,89.36,2.03,16.38,1.49
11,12,2026-01-28,O Conde De Monte Cristo,Alexandre Dumas,101,1084,90.33,1.68,18.06,1.50
12,13,2026-01-29,Le Banquet,Platão,21,1105,85.00,0.35,18.41,1.42
13,13,2026-01-29,O Conde De Monte Cristo,Alexandre Dumas,19,1124,86.46,0.32,18.73,1.44
14,14,2026-01-30,Le Banquet,Platão,17,1141,81.50,0.28,19.01,1.36
15,14,2026-01-30,O Conde De Monte Cristo,Alexandre Dumas,89,1230,87.86,1.48,20.49,1.46
16,15,2026-01-31,O Conde De Monte Cristo,Alexandre Dumas,161,1391,92.73,2.68,23.17,1.54

,day,date,minutes,total minutes,minutes per day,hours,total hours,hours per day
count,17.00,17,17.00,17.00,17.00,17.00,17.00,17.00
mean,8.65,2026-01-24 15:31:45.882353,81.82,736.59,82.18,1.36,12.27,1.37
min,1.00,2026-01-17 00:00:00,17.00,88.00,55.50,0.28,1.47,0.92
25%,5.00,2026-01-21 00:00:00,60.00,375.00,81.50,1.00,6.25,1.36
50%,9.00,2026-01-25 00:00:00,89.00,769.00,85.33,1.48,12.82,1.42
75%,13.00,2026-01-29 00:00:00,101.00,1105.00,87.86,1.68,18.41,1.46
max,15.00,2026-01-31 00:00:00,161.00,1391.00,92.73,2.68,23.17,1.54
std,4.57,NaN,42.19,419.99,9.37,0.70,7.00,0.16

                         minutes  hours  days qtd
title
O Conde De Monte Cristo     1353  22.54        15
Le Banquet                    38   0.63         2

                 minutes  hours  days qtd
author
Alexandre Dumas     1353  22.54        15
Platão                38   0.63         2